# === Ionic/Angular builds ===
www/
dist/
android/
ios/

# === Node/npm/Yarn/Pnpm ===
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.yarn-integrity
.pnp.*

# === Cache y temporales ===
.cache/
.parcel-cache
.angular
.idea/
.DS_Store
*.tsbuildinfo
.eslintcache
.stylelintcache
.nyc_output/
coverage/
*.lcov
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# === Archivos de entorno ===
.env
.env.*.local
.env.local

# === VSCode
.vscode-test
.vscode/

# === Salidas de compilación
build/
lib-cov/
*.tgz

# === Otros
logs/
*.log
*.pid
*.seed
*.pid.lock
bower_components
jspm_packages
web_modules/
.docusaurus/
.serverless/
.dynamodb/
.tern-port
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
